# Environment variables
.env

# Virtual environment
myvenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db